<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="i7Zcd4VE6mdqs2t1pb_kquaAQI_WItbWMOAt7_t0AYo" />
  <title>{{#if title}}{{ title }} &ndash; {{ site.title }}{{/if}}{{#unless title}}{{ site.title }} - {{{ striptags (markdown site.caption) }}}{{/unless}}</title>
  <link rel="author" href="/humans.txt">
  <link rel="shortcut icon" href="/img/favicon.png" />
  <meta property="og:title" content="Async" />
  <meta property="og:description" content="An inclusive web tech meetup based in Brighton, UK" />
  <meta property="og:image" content="https://asyncjs.com/img/open-graph.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@asyncjs" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Varela+Round&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css" />
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="{{ site.analytics }}" defer></script>
  <!-- / Fathom -->
</head>
